@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

.icon-fill {
  font-variation-settings:
  'FILL' 1,
  'wght' 100,
  'GRAD' 0,
  'opsz' 24
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    @apply appearance-none;
  }
}
@layer components {
  .input-field{
    @apply py-2 indent-3 rounded bg-gray-100 outline-slate-200
  }
  .btn {
    @apply inline-block px-3 py-2 rounded-md text-white transition duration-300;
  }
  .btn-lg {
    @apply px-5 py-3
  }
  .btn-toggle {
    @apply relative w-14 h-7 bg-gray-200 rounded-full dark:bg-gray-700 peer-focus:ring-green-300 dark:peer-focus:ring-green-800 peer-focus:ring-4 peer-checked:bg-green-600 ;
    &::after {
      content: "";
      @apply absolute top-0.5 start-1 size-6 transition-all rounded-full bg-white border border-gray-300 peer-checked:border-white peer-checked:translate-x-full rtl:peer-checked:-translate-x-full; 
    }
  }
}
/*  peer after:top-0.5 after:start-[2px] */

.dialog {
  width: min(664px, calc(100vw - 24px));
}